{
  "openapi": "3.0.4",
  "info": {
    "title": "NEIS 학교 및 급식 정보 API",
    "description": "나이스 교육정보 개방 포털에서 제공하는 학교기본정보와 급식식단정보 API 명세입니다.",
    "version": "1.0.0",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/license/mit/"
    }
  },
  "servers": [
    {
      "url": "https://open.neis.go.kr",
      "description": "NEIS 교육정보 개방 포털"
    }
  ],
  "security": [
    {
      "neisApiKey": []
    }
  ],
  "paths": {
    "/hub/schoolInfo": {
      "get": {
        "operationId": "getSchoolInfo",
        "summary": "학교기본정보 조회",
        "description": "시도교육청, 학교 코드, 학교명 등의 조건으로 학교기본정보를 조회합니다.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Key"
          },
          {
            "$ref": "#/components/parameters/Type"
          },
          {
            "$ref": "#/components/parameters/PIndex"
          },
          {
            "$ref": "#/components/parameters/PSize"
          },
          {
            "name": "ATPT_OFCDC_SC_CODE",
            "in": "query",
            "required": false,
            "description": "시도교육청 기관코드",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SD_SCHUL_CODE",
            "in": "query",
            "required": false,
            "description": "각급 기관의 행정표준코드",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SCHUL_NM",
            "in": "query",
            "required": false,
            "description": "학교명",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SCHUL_KND_SC_NM",
            "in": "query",
            "required": false,
            "description": "학교종류명",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LCTN_SC_NM",
            "in": "query",
            "required": false,
            "description": "시도명",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "FOND_SC_NM",
            "in": "query",
            "required": false,
            "description": "학교의 설립주체에 따른 구분",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "정상 처리되었습니다.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchoolInfoResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/hub/mealServiceDietInfo": {
      "get": {
        "operationId": "getMealServiceDietInfo",
        "summary": "급식식단정보 조회",
        "description": "학교와 급식일자 조건으로 급식식단정보를 조회합니다.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Key"
          },
          {
            "$ref": "#/components/parameters/Type"
          },
          {
            "$ref": "#/components/parameters/PIndex"
          },
          {
            "$ref": "#/components/parameters/PSize"
          },
          {
            "name": "ATPT_OFCDC_SC_CODE",
            "in": "query",
            "required": true,
            "description": "시도교육청 구분코드",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SD_SCHUL_CODE",
            "in": "query",
            "required": true,
            "description": "학교 행정표준코드",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "MMEAL_SC_CODE",
            "in": "query",
            "required": false,
            "description": "식사 구분코드",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "MLSV_YMD",
            "in": "query",
            "required": false,
            "description": "급식일자",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{8}$",
              "example": "20250925"
            }
          },
          {
            "name": "MLSV_FROM_YMD",
            "in": "query",
            "required": false,
            "description": "급식시작일자",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{8}$",
              "example": "20250901"
            }
          },
          {
            "name": "MLSV_TO_YMD",
            "in": "query",
            "required": false,
            "description": "급식종료일자",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{8}$",
              "example": "20250930"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "정상 처리되었습니다.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MealServiceDietInfoResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "neisApiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "Key",
        "description": "NEIS API 인증키"
      }
    },
    "parameters": {
      "Key": {
        "name": "Key",
        "in": "query",
        "required": true,
        "description": "인증키. 기본값은 sample key입니다.",
        "schema": {
          "type": "string",
          "default": "sample key"
        }
      },
      "Type": {
        "name": "Type",
        "in": "query",
        "required": true,
        "description": "호출 문서 형식",
        "schema": {
          "type": "string",
          "enum": [
            "xml",
            "json"
          ],
          "default": "xml"
        }
      },
      "PIndex": {
        "name": "pIndex",
        "in": "query",
        "required": true,
        "description": "페이지 위치",
        "schema": {
          "type": "integer",
          "format": "int32",
          "minimum": 1,
          "default": 1
        }
      },
      "PSize": {
        "name": "pSize",
        "in": "query",
        "required": true,
        "description": "페이지당 요청 숫자",
        "schema": {
          "type": "integer",
          "format": "int32",
          "minimum": 1,
          "maximum": 1000,
          "default": 100
        }
      }
    },
    "schemas": {
      "SchoolInfoResponse": {
        "type": "object",
        "required": [
          "schoolInfo"
        ],
        "properties": {
          "schoolInfo": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SchoolInfoBlock"
            }
          }
        }
      },
      "SchoolInfoBlock": {
        "type": "object",
        "properties": {
          "head": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResponseHead"
            }
          },
          "row": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SchoolInfo"
            }
          }
        }
      },
      "SchoolInfo": {
        "type": "object",
        "properties": {
          "ATPT_OFCDC_SC_CODE": {
            "type": "string",
            "description": "시도교육청코드"
          },
          "ATPT_OFCDC_SC_NM": {
            "type": "string",
            "description": "시도교육청명"
          },
          "SD_SCHUL_CODE": {
            "type": "string",
            "description": "행정표준코드"
          },
          "SCHUL_NM": {
            "type": "string",
            "description": "학교명"
          },
          "ENG_SCHUL_NM": {
            "type": "string",
            "description": "영문학교명"
          },
          "SCHUL_KND_SC_NM": {
            "type": "string",
            "description": "학교종류명"
          },
          "LCTN_SC_NM": {
            "type": "string",
            "description": "시도명"
          },
          "JU_ORG_NM": {
            "type": "string",
            "description": "관할조직명"
          },
          "FOND_SC_NM": {
            "type": "string",
            "description": "설립명"
          },
          "ORG_RDNZC": {
            "type": "string",
            "description": "도로명우편번호"
          },
          "ORG_RDNMA": {
            "type": "string",
            "description": "도로명주소"
          },
          "ORG_RDNDA": {
            "type": "string",
            "description": "도로명상세주소"
          },
          "ORG_TELNO": {
            "type": "string",
            "description": "전화번호"
          },
          "HMPG_ADRES": {
            "type": "string",
            "format": "uri",
            "description": "홈페이지주소"
          },
          "COEDU_SC_NM": {
            "type": "string",
            "description": "남녀공학구분명"
          },
          "ORG_FAXNO": {
            "type": "string",
            "description": "팩스번호"
          },
          "HS_SC_NM": {
            "type": "string",
            "description": "고등학교구분명"
          },
          "INDST_SPECL_CCCCL_EXST_YN": {
            "type": "string",
            "description": "산업체특별학급존재여부"
          },
          "HS_GNRL_BUSNS_SC_NM": {
            "type": "string",
            "description": "고등학교일반전문구분명"
          },
          "SPCLY_PURPS_HS_ORD_NM": {
            "type": "string",
            "description": "특수목적고등학교계열명"
          },
          "ENE_BFE_SEHF_SC_NM": {
            "type": "string",
            "description": "입시전후기구분명"
          },
          "DGHT_SC_NM": {
            "type": "string",
            "description": "주야구분명"
          },
          "FOND_YMD": {
            "type": "string",
            "description": "설립일자"
          },
          "FOAS_MEMRD": {
            "type": "string",
            "description": "개교기념일"
          },
          "LOAD_DTM": {
            "type": "string",
            "description": "수정일자"
          }
        }
      },
      "MealServiceDietInfoResponse": {
        "type": "object",
        "required": [
          "mealServiceDietInfo"
        ],
        "properties": {
          "mealServiceDietInfo": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MealServiceDietInfoBlock"
            }
          }
        }
      },
      "MealServiceDietInfoBlock": {
        "type": "object",
        "properties": {
          "head": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResponseHead"
            }
          },
          "row": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MealServiceDietInfo"
            }
          }
        }
      },
      "MealServiceDietInfo": {
        "type": "object",
        "properties": {
          "ATPT_OFCDC_SC_CODE": {
            "type": "string",
            "description": "시도교육청코드"
          },
          "ATPT_OFCDC_SC_NM": {
            "type": "string",
            "description": "시도교육청명"
          },
          "SD_SCHUL_CODE": {
            "type": "string",
            "description": "행정표준코드"
          },
          "SCHUL_NM": {
            "type": "string",
            "description": "학교명"
          },
          "MMEAL_SC_CODE": {
            "type": "string",
            "description": "식사코드"
          },
          "MMEAL_SC_NM": {
            "type": "string",
            "description": "식사명"
          },
          "MLSV_YMD": {
            "type": "string",
            "description": "급식일자"
          },
          "MLSV_FGR": {
            "type": "string",
            "description": "급식인원수"
          },
          "DDISH_NM": {
            "type": "string",
            "description": "요리명"
          },
          "ORPLC_INFO": {
            "type": "string",
            "description": "원산지정보"
          },
          "CAL_INFO": {
            "type": "string",
            "description": "칼로리정보"
          },
          "NTR_INFO": {
            "type": "string",
            "description": "영양정보"
          },
          "MLSV_FROM_YMD": {
            "type": "string",
            "description": "급식시작일자"
          },
          "MLSV_TO_YMD": {
            "type": "string",
            "description": "급식종료일자"
          },
          "LOAD_DTM": {
            "type": "string",
            "description": "적재일시"
          }
        }
      },
      "ResponseHead": {
        "type": "object",
        "properties": {
          "list_total_count": {
            "type": "integer",
            "description": "전체 결과 수"
          },
          "RESULT": {
            "type": "object",
            "properties": {
              "CODE": {
                "type": "string",
                "description": "NEIS 결과 코드"
              },
              "MESSAGE": {
                "type": "string",
                "description": "NEIS 결과 메시지"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "string",
            "description": "NEIS 오류 코드",
            "enum": [
              "300",
              "290",
              "310",
              "333",
              "336",
              "337",
              "500",
              "600",
              "601"
            ]
          },
          "message": {
            "type": "string",
            "description": "오류 설명"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "필수 값이 누락되었거나 요청 위치 값의 타입이 유효하지 않습니다.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "인증키가 유효하지 않거나 사용이 제한되었습니다.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "해당하는 서비스를 찾을 수 없거나 조회 결과가 없습니다.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "일별 트래픽 제한 또는 요청 건수 제한을 초과했습니다.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "서버, 데이터베이스 또는 SQL 처리 중 오류가 발생했습니다.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  }
}
